openapi: 3.0.0
info:
  description: API description in Markdown.
  title: Memo App API
  version: 1.0.0
servers:
- url: http://api.memo-app.com/v1
tags:
- description: Operations about user
  name: users
paths:
  /users:
    get:
      description: Optional extended description in Markdown.
      operationId: getUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
          description: A JSON array of user names
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unexpected error
      summary: Returns a list of users.
      tags:
      - users
  /user/{id}:
    get:
      description: Returns a single user
      operationId: getUserById
      parameters:
      - description: ID of user to return
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: error
      summary: Find user by ID
      tags:
      - users
components:
  schemas:
    Error:
      example:
        code: 0
        data: "{}"
        message: message
      properties:
        message:
          type: string
        code:
          type: integer
        data:
          type: object
      required:
      - code
      - message
      type: object
    User:
      example:
        id: 1
        name: user1
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
      required:
      - id
      - name
      type: object
    Users:
      example:
      - id: 1
        name: user1
      - id: 2
        name: user2
      items:
        $ref: '#/components/schemas/User'
      type: array
